* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Prompt', sans-serif;
}

.cabecalho {
    background-color: #262597;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 8%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

.secao1 {
    background-image: linear-gradient(#424E61,#16CFF8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.secao1-titulo {
    padding: 24px 0;
}

.secao1-imagem {
    width: 40%;
}

.secao1-div-conteudo{
    width: 35%;
}

.nome-img {
    width: 120px;
}

.div-apresentacao{
    text-align: center;
    padding: 16px 0;
}

.icon-redes{
    width: 24px;
    padding: 4px 8px;
}

















