* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.cabecalho {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}








.cabecalho {
    background-color: #262597;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-logo {
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16;
    font-size: 24px;
}